/*******************************************************************************
 *
 * Thomas Thomassen
 * thomas[at]thomthom[dot]net
 *
 ******************************************************************************/

/*******************************************************************************
 *
 * $DOCUMENT
 *
 ******************************************************************************/

html {
  font-family: "Segoe UI", sans-serif;
  font-size: 10pt;
  color: #333;
  background: #fff;
  overflow: hidden;
  cursor: default;
}

pre, code {
  font-family: "Consolas", monospace;
}

input, select, textarea
{
  font-family: "Segoe UI", sans-serif;
}


/*******************************************************************************
 *
 * $CURSOR
 *
 ******************************************************************************/

* {
  cursor: inherit;
}

input, select, textarea, a[href]
{
  cursor: auto;
}


/*******************************************************************************
 *
 * $HEADLINES
 *
 ******************************************************************************/

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}


/*******************************************************************************
 *
 * $LINKS
 *
 ******************************************************************************/

a {
  color: #4783ba;
}

a:active {
  color: #ffb547;
}


/*******************************************************************************
 *
 * $FORM
 *
 ******************************************************************************/

label {
  display: block;
  margin: 1em 0 0.25em 0;
}

button, input {
  font-family: "Segoe UI", sans-serif;
}

button {
  padding: 0.5em 1em;
  min-width: 7em;
}

input, textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 0.25em;
}

textarea {
  height: 7em;
}


/*******************************************************************************
 *
 * $INFO DIALOG
 *
 ******************************************************************************/

.info_panel {
  position: fixed;
  left: 1em;
  right: 1em;
  top: 1em;
  bottom: 6em;
  overflow: auto;
  background: #000;
  background: rgba(0, 0, 0, 0.95);
  color: #fff;
  padding: 2em;
  /* IE6 */
  _position: absolute;
  _background: #000;
  _width: 100%;
  _height: 80%;
}

.info_panel hr {
  border: none;
  border-bottom: 1px dotted #fff;
}

.info_panel .status {
  position: relative;
  top: 9em;
  text-align: center;
}

.info_panel h2.success,
.info_panel h2.error {
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 30px;
}

.info_panel h2.success {
  background-image: url('Check-24.png');
}

.info_panel h2.error {
  background-image: url('Warning-Message-24.png');
}


/*******************************************************************************
 *
 * $HEADER
 *
 ******************************************************************************/

#header {
  margin: -1em -1em 0em -1em;
  padding: 1em 1.5em 1em 2em;
  background: #ffb547;
  border-bottom: 1px solid #ca9;
  zoom: 1; /* Trigger IE7 HasLayout */
}

#smiley {
  position: absolute;
  right: 0.5em;
  padding: 0 0.5em;
  color: #666;
}


/*******************************************************************************
 *
 * $CONTENT
 *
 ******************************************************************************/

#content {
  padding: 0.5em 1em;
}

#content > div {
  position: relative;
  left: 0;
  right: 0;
  /*background: #eee;*/
}

.highlight {
  background: #fff0ee;
  padding: 0.5em;
}


/*******************************************************************************
 *
 * $FOOTER
 *
 ******************************************************************************/

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 1.7em;
  text-align: right;
  background: #eee;
  border-top: 1px solid #bbb;
  /* IE6 */
  _width: 100%;
}

#footer a {
  margin-right: 1em;
}


/*******************************************************************************
 *
 * $MESSAGES
 *
 ******************************************************************************/

.info, .alert, .warning {
  padding: 0.5em;
}

.info {
  background: #228;
  background: rgba(20, 20, 255, 0.25);
}

.alert {
  background: #882;
  background: rgba(255, 168, 0, 0.5);
}

.warning {
  background: #822;
  background: rgba(255, 20, 20, 0.25);
}

